<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mintic2022.easyorder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyOrder">
        <activity
            android:name=".view.ui.activities.SignUp"
            android:exported="false" />
        <activity
            android:name=".view.ui.activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                //Esta etiqueta solo debe estar en la actividad que se carga inicialmente, si se
                repite crea mas de un plugin
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.activities.MainActivity"
            android:exported="true"></activity>
    </application>

</manifest>